@media print {
#content {position:static;}
#content #copyright,#content #headline,#content #logoutChannelContainer,#content #statusIconContainer,	#content #submitButtonContainer,#content #onlineListContainer,#content #helpContainer,#content #settingsContainer,#content #bbCodeContainer,#content #colorCodesContainer,#content #emoticonsContainer,#content #optionsContainer,#content #chatList .delete {display:none;}
#content #chatList {position:static;overflow:visible;}
#content #chatList div {padding-bottom:5px;}
#content #chatList img {vertical-align:middle;margin-bottom:2px;}
#content #chatList cite {margin-right:5px;}
#content #chatList {border:none;}
#content {font-family:'times new roman', times, serif;font-size:1.0em;text-align:justify;}
#content #chatList code {font-size:0.8em;}
#content {color:#000;}
#content .guest {color:gray;}
#content .user {color:#000;}
#content .customUser {color:#0044CC;}
#content .moderator {color:#00AA00;}
#content .admin {color:red;}
#content .chatBot {color:#FF6600;}
#content #chatList .chatBotErrorMessage {color:red;}
#content #chatList a {color:#1E90FF;}}