/* Positioning */
body.s_chat{padding:0;margin:0;}
#content{position:absolute;width:100%;height:100%;}
#headline{position:absolute;min-height:20px;right:0;left:0;top:0;padding:0 0 0 20px;line-height:45px;margin:0;}
#logoutChannelContainer{position:absolute;z-index:2;left:20px;top:50px;right: 20px;}
#logoutChannelContainer select{width:105px;height:25px;}
#chatList{height:100%;overflow:auto;}
#chatList .toMe{border:1px double #B22222;}
#mainPanelContainer{position:absolute;left:20px;right:20px;top:85px;bottom: 100px;}
#onlineListContainer,#helpContainer,#settingsContainer{float:right;height:100%;overflow:auto;margin-left:10px;position:relative;}
#mainPanelContainer h3{line-height:25px;padding: 0 10px;margin:0;text-align:center;}
#onlineListContainer{width:270px;}
#helpContainer,#settingsContainer{width:360px;}
#onlineList,#helpList,#settingsList{position:absolute;left:0;right:0;top:25px;bottom:0;overflow:auto;}
#helpList dl,#settingsList dl{overflow:hidden;padding:5px;margin:0;}
#helpList dt,#settingsList dt{float:left;width:55%;padding:0 2% 0 0;margin:0;clear:left;}
#helpList dd,#settingsList dd{width:43%;float:left;margin:0;padding:0;}
#inputFieldContainer{position:absolute;left:20px;right:20px;bottom: 45px;padding-right:2px;}
#inputField{width:100%;height:40px;padding:0;}
#submitButtonContainer{position:absolute;right:20px;bottom: 15px;}
#bbCodeContainer{position:absolute;left:20px;bottom: 15px;padding:3px;}
#bbCodeContainer input{display:block;float:left;margin-right:2px;}
#emoticonsContainer{position:absolute;left:120px;bottom:50px;padding:3px;z-index:3;width:320px;max-height:400px;overflow:auto;}
#emoticonsContainer a{margin-left:1px;margin-right:1px;text-align: center;display:inline-block;}
a.sticker{width:32%;}
a.sticker img{height:100px;max-width:100%;}
#emoticonsContainer img{vertical-align:middle;margin-bottom:2px;}
#optionsContainer{position:absolute;right:20px;top:50px;padding:3px 0 3px 3px;z-index:3;}
#optionsContainer input{vertical-align:middle;}
#bbCodeContainer input,#logoutButton,#submitButton,#loginButton{padding:4px 10px;}
#logoutButton{display:block;float:left;margin: 0 5px 5px 0;}   
#chatList > div{padding:2px 10px;}
#chatList img{vertical-align:middle;margin-bottom:2px;}
#chatList cite{margin-right:5px;}
#chatList .bbCodeImage{vertical-align:top;overflow:auto;margin:5px;}
#chatList .delete{display:block;float:right;width:10px;height:10px;margin-top:2px;padding-left:5px;background:url('../img/delete.png') no-repeat right;}
#onlineList div{padding: 2px 5px;}
#onlineList ul{margin: 5px 0;padding-left:20px;}
#settingsList select.left{text-align:right;}
/* Buttons */
#optionsContainer input,#settingsList input.button, .arrowBut{background: url('../img/icons.png') no-repeat;vertical-align:middle;width:22px;height:22px;padding:0;}
input#helpButton{background-position:-69px -22px;}
input#settingsButton{background-position:-92px 0;}
input#onlineListButton{background-position:-69px 0;}
input#audioButton{background-position:0 0;}
input#audioButton.off{background-position:0 -22px;}
input#rulesButton{background-position:-23px 0;}
#settingsList input.playback{background-position:-92px -22px;margin-bottom:3px;} 
#showUserListButton{display: none;}
.arrowBut{background-position: -46px 0;display: block;}
.arrowBut.off{background-position: -46px -22px;}
/* Borders */
#content img{border:none;}
#chatList,#onlineListContainer,#helpContainer,#settingsContainer,#content textarea{border-width: 1px;border-style:solid;word-wrap: break-word;}
#chatList .deleteSelected{border-width:1px;border-style:dotted;}
/* Misc */
#bbCodeContainer input,#optionsContainer input.button,#settingsList input.button,#logoutButton,#submitButton{cursor:pointer;}
/*https://github.com/laktek/really-simple-color-picker */
div.colorPicker-picker{height:16px;width:16px;padding:0 !important;border: 1px solid #ccc;background: url('../img/colorpicker.gif') no-repeat top right;cursor: pointer;line-height: 16px;font-size:0.75em;font-weight:bold;text-align:center;}
div.colorPicker-palette{width:110px;position:absolute;border:1px solid #598FEF;background-color:#EFEFEF;padding:2px;z-index:9999;}
div.colorPicker_hexWrap{width: 100%;float:left}
div.colorPicker_hexWrap label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
div.colorPicker_hexWrap input {margin:5px 2px;padding:0;font-size:95%;border:1px solid #000;width:65%;}
div.colorPicker-swatch{height:12px;width:12px;border:1px solid #000;margin:2px;float:left;cursor:pointer;line-height:12px;}
.vkPost{border:1px solid #45688E;border-left:5px solid #45688E;overflow:auto;width:80%;max-height:200px; cursor: pointer;}
.playGif img{background-color: white;opacity: 0.5;}
@media (max-width: 700px) {
	#mainPanelContainer { top:65px; left:5px; right:5px; bottom:75px; }
	#headline { margin:0; padding:0 0 0 5px; line-height:25px; }
	#copyright { top:0; right:30px; line-height: 25px;}
	#logoutChannelContainer { top:30px; left:5px;right: 0; }
	#logoutChannelContainer label, #emoticonsContainer,#bbCodeContainer #bbCodeQuote { display:none; }
	#bbCodeContainer { left:5px; padding:0; }
	#bbCodeEmoticon { display:block; }
	#optionsContainer { top:30px; right:5px; }
	#chatList { left:5px; right:150px; bottom:115px; font-size:12px; }
	#inputField { height:20px; }
	#inputFieldContainer { left:5px; right:5px; }
	#onlineListContainer, #helpContainer, #settingsContainer { margin-left:0; border-left-width:0; }
}
@media (max-width: 480px) {
    #content { position: static; }
    #mainPanelContainer, #bbCodeContainer, #inputFieldContainer, #submitButtonContainer {position: absolute; display: block; bottom: 2px; }
    #mainPanelContainer {height:auto; top:30px; left:0; right:0; }
     #helpButton,#onlineListButton,#audioButton,#rulesButton,#settingsButton, #emoticonsContainer,#messageLengthCounter, #bbCodeContainer #commandAction  {display: none;}
    #onlineListContainer, #settingsContainer {z-index: 1;bottom: 0;right: 0;top: 0;position: absolute;height: auto;width: 100%; display: none;}
    #helpContainer{ display: none !important;}
    #mainPanelContainer h3 { font-size: 0.9em; text-align: left;}
    #emoticonsContainer {left: 0; bottom:35px; max-height: 300px; width: 270px; }
    #chatList {position: absolute; top: 0; left: 0; right: 0; bottom: 67px ; height: auto;}
    #headline { position: absolute; top: 0; text-indent: 25px; line-height: 30px; left:0!important; right:0!important;}
    #logoutChannelContainer {top:0;right: 3px; position:absolute;left:3px;float: right;}
    #logoutButton {float:right; margin:0; height: 30px !important;}
    #channelSelection {width: inherit !important;height: 30px !important; float:right; max-width: 95px;}
    #showUserListButton {float: left; height: 20px; width: 20px; display: block;top:3px;position: absolute;}
    #inputField {position: absolute;bottom: 28px;height: 35px; }
    #submitButtonContainer {right:2px;max-height: 30px !important;}
}
@media (max-width: 300px) {
    #mainPanelContainer {height:auto; top:20px; left:0; right:0;}
    #bbCodeContainer, #submitButtonContainer {display: none;}
    #chatList {position: absolute; top: 0; left: 0; right: 0; bottom: 21px ; height: auto; font-size: 0.7em;}
    #logoutChannelContainer {top:0;right:0;left:0;}
    #logoutButton {float:right; margin:0; height: 20px!important;}
    #channelSelection {height:20px !important}
    #inputFieldContainer, #inputField {bottom: 0;height: 20px; left: 0; right: 0;}
    #headline a{ display: none;}
    #showUserListButton {top:0;}
}